 .u-section-1 {
  background-image: linear-gradient(black, #41807c);
}

.u-section-1 .u-sheet-1 {
  min-height: 802px;
}

.u-section-1 .u-group-1 {
  min-height: 700px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 51px;
  margin-bottom: 51px;
  background-image: linear-gradient(black, #41807c);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 0 0 10px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 51px 10px 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 10px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 31px auto 0 10px;
  padding: 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 15px 34px 17px 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-right: 0;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 16px;
  }
} .u-section-2 {
  background-image: linear-gradient(#41807c, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-tabs-1 {
  min-height: 480px;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-tab-list-1 {
  background-image: linear-gradient(#41807c, #2cccc4);
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: linear-gradient(#2cccc4, black);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 19px;
}

.u-section-2 .u-text-1 {
  margin: 30px 11px 0 533px;
}

.u-section-2 .u-image-1 {
  width: 420px;
  height: 420px;
  margin: -66px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -277px 11px 0 533px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 26px 11px 0 533px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: linear-gradient(#2cccc4, black);
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-2 .u-text-4 {
  margin: 13px 699px 0 26px;
}

.u-section-2 .u-image-2 {
  width: 466px;
  height: 377px;
  margin: -36px 0 0 auto;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  margin: -323px 420px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -35px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -308px;
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 634px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1px;
    margin-left: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 303px;
    height: 377px;
    margin-top: -36px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -317px;
    margin-left: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 414px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 190px;
  }

  .u-section-2 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -117px;
    margin-left: 190px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 190px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 234px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-1 {
    min-height: 763px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 240px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 226px;
    margin-top: -276px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 67px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 34px;
  }

  .u-section-2 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -221px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #72efe9);
}

.u-section-3 .u-sheet-1 {
  min-height: 740px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-3 .u-image-1 {
  min-height: 305px;
  background-image: url("images/abstract-logo-design-image.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 305px;
  background-image: url("images/abstract-logo-design-free-download.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 305px;
  background-image: url("images/wing-pattern-icon-abstract.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 305px;
  background-image: url("images/Abstract-logo-M-font-icon.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 610px;
  background-image: linear-gradient(#f1c50e, #72efe9);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 251px;
  }

  .u-section-3 .u-image-2 {
    min-height: 251px;
  }

  .u-section-3 .u-image-3 {
    min-height: 251px;
  }

  .u-section-3 .u-image-4 {
    min-height: 251px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 503px;
    margin: 20px auto 0 0;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1rem;
    width: 107px;
    height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-3 .u-image-1 {
    min-height: 385px;
  }

  .u-section-3 .u-image-2 {
    min-height: 385px;
  }

  .u-section-3 .u-image-3 {
    min-height: 385px;
  }

  .u-section-3 .u-image-4 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-3 .u-image-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-3 {
    min-height: 364px;
  }

  .u-section-3 .u-image-4 {
    min-height: 364px;
  }
}